{% extends "mail_templated/base.tpl" %}

{% block subject %}
Password reset
{% endblock %}

{% block html %}

    <h3>Change password request!</h3>
        <p>
            Hi {{user.first_name}}! Someone requested a password change for your account.
            <br /><br />
            <strong>If it was not you, please ignore this email.</strong>
        </p>
        <p>
            To change your password go to this url:
        </p>
        <p>
            <a href="{{FRONTEND_URL}}/forgot-password/${{user.passwordResetToken}}">
                {{FRONTEND_URL}}/forgot-password/{{user.passwordResetToken}}
            </a>
        </p>
        <p>
            Thanks!
        </p>

{% endblock %}